* {
	margin: 0px;
	padding: 0px;
}
a img {
	border-style: none;
}

body {
	background: #006699;
	font-family: Arial, Helvetica, sans-serif;
	font-size: .8em;
}
h1 {
	font-size: 2.8em;
	color: #006699;
	line-height: 100%;
	margin: 10px 0px 0px;
	background: #F0F5FB;
	padding: 10px;
}
#memo {
	font-size: 0.7em;
	color: #999;
}

h2 {
	font-size: 1.6em;
	color: #006699;
	margin: 0px;
	padding: 0px;
}

h1 strong {
	color: #A2C5E8;
}

p {
	font-size: 1.2em;
	margin: 10px 0px;
	color: #A2C5E8;
}
.atention {
	color: #FF6600;
}



#wrapper {
	margin: 10px auto 0px;
	width: 700px;
	background: #FFFFFF;
	padding: 5px 10px;
}
#content {
	position: relative; /*modified*/
	padding: 0px 10px;
}
.download {
	margin-top: 20px;
	background: #F0F5FB;
	padding: 10px 10px 8px;
}
.code {
	background: #F9F9F9;
	padding: 10px;
	margin-top: 30px;
	font-size: 1.2em;
	border: 1px solid #EEEEEE;
}
.blue {
	color: #006699;
}
.red {
	color: #990000;
}


#footer {
	margin: 10px 0px 0px;
	border-top: 1px solid #A2C5E8;
	color: #369;
	padding: 10px;
}
table td{
	padding: 5px 0;
}

#pic_output { /*modified*/
	position: absolute;
	right: 10px;
	top: -4px;
	z-index: 60000;
}

#text{
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 90px;
}