<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Language" content="cs" />
	<meta name="description" content="iFan-style Avatar Generator" />
	<meta name="keywords" content="ifan,avatar,generator,tool,爱饭,头像,生成" />
	<title>爱饭样式头像生成器</title>
	<link rel="stylesheet" href="../media/styles/screen.css" type="text/css" media="screen" />
	<link rel="icon" href="../media/favicon.ico" type="image/gif" />
	<script type="text/javascript" src="../media/scripts/jquery.js"></script>
	<script type="text/javascript" src="../media/scripts/jquery.form.js"></script>
	<!-- 爱饭样式头像生成器 2.0 版本 1.0.0.4 -->

	<!-- color picker begins--> 
	<link rel="stylesheet" href="../media/colorpicker/css/colorpicker.css" type="text/css" /> 
	<link rel="stylesheet" media="screen" type="text/css" href="../media/colorpicker/css/layout.css" /> 
	<script type="text/javascript" src="../media/colorpicker/js/colorpicker.js"></script> 
	<script type="text/javascript" src="../media/colorpicker/js/eye.js"></script> 
	<script type="text/javascript" src="../media/colorpicker/js/utils.js"></script> 
	<script type="text/javascript" src="../media/colorpicker/js/layout.js?ver=1.0.2"></script> 
	<!-- color picker ends--> 

    <script type="text/javascript" src="../media/scripts/main.js"></script>
</head>

<body>
	<div id="wrapper">
		<div id="title">
        	<a href="/"><img src="../media/images/title.png" id="title_img" /></a>
        </div>
        <div id="content">
        	<div id="opt_templates" class="opt left">
				<h3>预设模板</h3>
				<select name="preset" id="preset">
					<option value="ifan">爱饭样式</option>
					<option value="fanfou">饭否标准</option>
					<option value="custom">自定义</option>
                </select>
            </div>
            <div id="opt_text_input" class="opt left">
				<h3>输入要生成的文字</h3>
				<textarea id="text_input" class="left">饭</textarea>
				<span class="hint left" style="margin:22px 0 0 10px;">本窗格有简单预览效果<br />支持单个汉字或全角英文字符</span>
            </div>
            <div class="clear"></div>
            <div class="hr"></div>
            <div id="opt_bgcolor" class="opt">
				<h3 class="left">背景颜色</h3>
				<div id="bgcolors_panel" class="left">
                    <span id="c192" class="bgcolors left">&nbsp;</span>
                    <span id="c12" class="bgcolors left">&nbsp;</span>
                    <span id="c36" class="bgcolors left">&nbsp;</span>
                    <span id="c52" class="bgcolors left">&nbsp;</span>
                    <span id="c76" class="bgcolors left">&nbsp;</span>
                    <span id="c100" class="bgcolors left">&nbsp;</span>
                    <span id="c154" class="bgcolors left">&nbsp;</span>
                    <span id="c176" class="bgcolors left">&nbsp;</span>
                    <span id="c206" class="bgcolors left">&nbsp;</span>
                    <span id="c242" class="bgcolors left">&nbsp;</span>
                    <span id="c270" class="bgcolors left">&nbsp;</span>
                    <span id="c288" class="bgcolors left">&nbsp;</span>
                    <span id="c312" class="bgcolors left">&nbsp;</span>
                    <span id="c336" class="bgcolors left">&nbsp;</span>
                    <span id="c336a" class="bgcolors left">&nbsp;</span>
                    <span id="c0a" class="bgcolors left">&nbsp;</span>
                    <span id="cx50" class="bgcolors left">&nbsp;</span>
                    <span id="cx10" class="bgcolors left">&nbsp;</span>
                </div>
				</div>
			<div id="opt_font" class="opt">
				<h3 class="left">字体</h3>
				<select name="font_select" id="font_select">
				<option value="iYaHei.ttf" selected>微软雅黑</option>
				<option value="#">微软正黑体</option>
				<option value="fzqtj.ttf">方正启体简</option>
				<option value="liuti.ttf">方正柳体简</option>				
				<option value="shoujin.ttf">方正瘦金体</option>
				<option value="fzybksjt.ttf">方正硬楷简</option>
				<option value="xujinglei.ttf">方正徐静蕾</option>				
                </select>
			</div>
			<div id="opt_color" class="opt">
				<h3 class="left">文字颜色</h3>
				<input name="color_picker" class="color_picker" id="textColor" type="text" value="#FFFFFF" />
			</div>
			<div id="opt_sdcolor" class="opt">
				<h3 class="left">阴影颜色</h3>
				<input name="color_picker" class="color_picker" id="shadowColor" type="text" value="#000000" />
			</div>
            <script type="text/javascript" charset="utf-8"> 
                            $('#textColor, #shadowColor').ColorPicker({
								onChange: function(hsb, hex, rgb, el) {
									function getCheckedStatus(checkboxID)
								    {
								        //return 1 if checked, or 0 
								        if ($(checkboxID).attr('checked'))
								        {
								            return 'True';
								        }
								        else
								        {
								            return 'False';
								        }
								    }
									$(el).val("#"+hex);
									if ($(el).attr("id")=="textColor")
									{
										$("#text_input").css('color', '#' + hex);
									}
									else if (getCheckedStatus("#shadow")=='True')
									{//text-shadow: 0.1em 0.1em #333
										$("#text_input").css('text-shadow', '#' + hex+" 0 0 3px");
									}
									
                                },
                                onSubmit: function(hsb, hex, rgb, el) {
									hex=hex.toUpperCase();
                                    $(el).val("#"+hex);
                                    $(el).ColorPickerHide();
                                },
                                onBeforeShow: function () {
                                    $(this).ColorPickerSetColor(this.value);
                                }
								
                            })
                            .bind('keyup', function(){
                                $(this).ColorPickerSetColor(this.value.replace("#",''));
                            });
                            $("#textColor").val("#FFFFFF");
                            $("#shadowColor").val("#000000");
 
                        </script> 
			<div id="opt_adv" class="opt">
				<h3 class="left">高级选项</h3>
				<ul id="opt_adv_ul" class="left">
					<li><input type="checkbox" id="border" checked="on">&nbsp;显示边框</li> 
					<li><input type="checkbox" id="shadow" checked="on">&nbsp;显示阴影 </li> 
					<li><input type="checkbox" id="highlight" checked="on">&nbsp;背景高光</li> 
				</ul>
			</div>
            <div id="gen">
				<div id="btn_gen" class="left"></div>
				<span class="hint left" style="margin:20px 0 0 10px;">图像生成后，请右键点击图片，<br />选择图片另存为，并保存成 PNG 格式。</span>
			</div>
			<div id="pic_output"></div> 
        </div>
	</div>

	<div id="footer">
这是一款非盈利的开源工具。由 <a href="http://www.djangoproject.com/" title="The Django Project" target="_blank">Django</a> 及 <a href="http://www.pythonware.com/products/pil/" title="Python Imaging Library" target="_blank">PIL</a> 强力驱动。<br />
	© 2009-2010 <a href="http://iregex.org/" title="Rex Zhasm" target="_blank">.rex</a> &amp; <a href="http://anegie.com/" title="Kevin Deng" target="_blank">Kevin Deng</a>. 保留所有权利。访问作者的饭否页面并给予反馈：<a href="http://fanfou.com/zhasm" title="Rex Zhasm" target="_blank">.rex</a> | <a href="http://fanfou.com/anegie" title="Kevin Deng" target="_blank">Kevin Deng</a>
	</div>

<!-- Google Analytics -->

</body>

</html>
