@charset "utf-8";
/* CSS Document */
.jLookForm a{
	outline: none;
}
.jLookLabel{
	display: block;
	font-size: 1.2em;
}
/* INPUTS */
.jLookInput{
	margin: 0px;
	padding: 0px;
	border: none;
	background: url(bkg_input.jpg) no-repeat left top;
	width: 90px;
	height: 26px;
	padding: 10px 10px 0 10px;
}
	.jLookInputWrapper{
		background: url(bkg_input.jpg) no-repeat right top;
		_background-position: right 1px; /* ie hack */
		height: 36px;
		padding: 0px 38px 0px 0px;
		_padding: 0px 18px 0px 0px; /* ie hack */
	}
	/* =hover */
	.jLookInput_hover{
		background: url(bkg_input.jpg) no-repeat left -38px;
	}
	.jLookInputWrapper_hover{
		background: url(bkg_input.jpg) no-repeat right -38px;
		_background-position: right -37px; /* ie hack */
	}
	
/* RADIO */
.jLookRadio{
	background: url(bkg_radio.jpg);
	vertical-align: middle;
	height: 18px;
	width: 18px;
	display:block;
	/*display: -moz-inline-block;*/
}
	/* =checked */
	.jLookRadio_checked{
		background: url(bkg_radio_checked.jpg);
	}
/* CHECKBOX */
.jLookCheckbox{
	background: url(bkg_checkbox.jpg);
	vertical-align: middle;
	height: 18px;
	width: 18px;
	display:block;
	/*display: -moz-inline-block;*/
}
	/* =checked */
	.jLookCheckbox_checked{
		background: url(bkg_checkbox_checked.jpg);
	}	
/* SELECT */
.jLookSelectWrapper{
	/*border: 1px solid #CCCCCC;*/
	background: url(bkg_input.jpg) no-repeat left top;
	width: 160px;
	position:relative;
	height: 36px;
}
	.jLookSelectHeader{
		float: right;
		background: url(bkg_input.jpg) no-repeat right top;
		height: 29px;
		width: 150px;
		padding-top: 7px;
	}
	.jLookSelectHeader div{
		float:left;
		line-height: 24px;
		overflow: hidden;
		height: 24px;
		width: 110px
	}
	.jLookSelectHeader a{
		float: right;
		padding-right: 6px;
		display: inline;
		display: block;
		width: 24px;
		height: 24px;
		background: url(bkg_select_open.jpg) no-repeat left center;
	}
	.jLookSelectWrapper ul{
		position: absolute;
		width: 150px;
		top: 32px;
		height:1;
		left: 2px;
		list-style: none;
		background: #fff;
		border: 1px solid #CCCCCC;
		display: none;
	}
	.jLookSelectWrapper ul a{
		display: block;
		padding: 5px;
		text-decoration: none;
		color:#0099CC;
		background: #fff;
	}
	.jLookSelectWrapper ul a:hover{
		background:#E1F5FF;
	}
